<h2 style= "color:black; text-align: left; margin-left:25px;">About </h2> 
<br/><br/><br/>

<% @me.each do |pic| %>
    <%= image_tag pic, class: "images" %> 
  <% end %>
 
<br/><br/><br/><br/> 

<h2>About Culinary Travels!</h2> <br/>
<h4>Culinary Travels is a food blog for folks who like to travel and eat. </h4> 
<h4>The blog features recipes and photos of foods from around the world that have been tasted by our Author.</h3>
<br/><br/>

<h2>About the Author!</h2> <br/>
<h4>Raquel Stalcup is the author of the Culinary Travels food blog. </h4> 
<h4>She enjoys sharing her travels and culinary experiences from around the world.</h4>
<h4>In addition to her food blog, Raquel is writing a cook book of her favorite dishes, </h4>
<h4>including her family recipes from Korea, Japan, Hawaii, and Germany. </h4>