<h2 style= "color:black; text-align: left; margin-left:25px;">About </h2> 
<br/><br/><br/>

<% @me.each do |pic| %>
    <%= image_tag pic, class: "images" %> 
  <% end %>
 
<br/><br/><br/><br/><br/>  

<h2>Raquel loves to travel and eat!</2> 

