<h1>Raquel's Page</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<p>I have my own webpage</p>

<ul>
	<li>pick up the kids</li>
	<li>don't forget</li>
</ul>

<ol>
	<li>wakeup</li>
	<li>get ready</li>
</ol>

<a href="http://yahoo.com">
	<img src="http://25.media.tumblr.com/tumblr_mb0xk7lGPJ1r34qiso1_500.png" />
	<p>click here to go to yahoo</p>
</a>
