<h2 style= "color:black; text-align: left; margin-left:25px;">Contact </h2> 

<h1> Contact Me!</h1>
<br/><br/>

<style>
  .images { width:120px; 
      height:145px;
      border: solid 2px black;
      border-radius: 15px;
      }
</style>


<%= image_tag @me1, class: "images" %> 
<br/><br/><br/>

<h4>Raquel.Stalcup@careerbuilder.com</h4>