<html>
<head>
<style>
table, th, td {
	border: 1px solid blue;
	width: 1000px;
	height: 50px;
}
</style>
</head>

<body>
<h1> This is my home page </h1>

<table>
  <tr>
    <% @united_states.each do |key,value| %>
	  <th><%= key %></th>
    <% end %>
  </tr>
  <tr>
    <% @united_states.each do |key,value| %>      
      <% if value.kind_of?(Array) %>
          <td><%= value.join(", ") %></td>
      <% else %>
         <td><%= value %></td>
      <% end %> 
    <% end %>
  </tr>
</table>

</body>
</html>