<head>
  <style type="text/css">
  	.navbar > a {
  		color: #48D1CC;
  	}
  	a:link {
    	text-decoration: none;
    }
	a:visited {
		text-decoration: none;
	}
	a:hover {
    	text-decoration: underline;
    	color: white;
    }
	a:active {
    	text-decoration: none;
	}
    body {
	  	text-align: center;
	    color: purple;
	    background-color: #48D1CC; 
		font-family: Georgia;
		margin: 0;
		padding: 0;
	}
	ul.navbar {
		background-color: purple;
		color: black;
		text-align: left;
		margin: 0;
		width: 100%;
		height: 70px;
		font-size: 2.5em;
	}

  </style>
</head>

<body>
	<ul class="navbar">
	  <a href="index">Home</a>
	  <a href="about">About Me</a>
	</ul>

	<h1 style="font-size:3.5em">My Travels</h1>

	<p style="color:blue;font-size:1.5em" >Puerto Rico</p>

	<img src="/assets/PRdinner.JPG" width=275 height=225/>
	<img src="/assets/pr.JPG" width=275 height=225/>
	<img src="/assets/PRrainforest.JPG" width=275 height=225/>

	<p style="color:crimson;font-size:1.5em" >Chicago</p>
	<img src="http://www.socrata.com/wp-content/uploads/2014/06/chicago-dreary-bean-1.jpg" width=275 height=225/> 
	<img src="/assets/chicago.JPG" width=275 height=225/>
	<img src="/assets/chi.JPG" width=275 height=225/>

	<p style="color:black;font-size:1.5em" >Florida</p>

	<img src="/assets/florida.JPG" width=275 height=225/> 
	<img src="/assets/destin.JPG" width=275 height=225/>
	<img src="/assets/boat.JPG" width=275 height=225/>

	<p style="color:black;font-size:1.5em" >New Orleans</p>

	<img src="/assets/no.JPG" width=275 height=225/> 
	<img src="/assets/noparade.JPG" width=275 height=225/>
	<img src="/assets/skull.JPG" width=275 height=225/>


	<p style="color:blue;font-size:1.5em" >South Korea</p>
	<img src="http://www.deshow.net/d/file/travel/2009-05/travel-tour-south-korea-landscape-561-8.jpg" width=275 height=225/>
	<img src="http://2.bp.blogspot.com/-16Ry8MyTSnw/To8z_h691CI/AAAAAAAAACI/DHNu2noc0Ds/s1600/South+Korea.jpg" width=275 height=225/>
	<img src="http://www.korea.net/upload/content/editImage/Food_dinner_eng.jpg" width=275 height=225/>

	<p style="color:crimson;font-size:1.5em" >Germany</p>
	<img src="http://reichsamt.info/bilder/Reichstagsgebaeude_Berlin.jpg" width=275 height=225/>
	<img src="http://cdn.funcheap.com/wp-content/uploads/2013/05/Sausages-and-Bier1.jpg" width=275 height=225/>
	<img src="http://images.cityhdwallpapers.com/images/1920x1080/Germany%20city%20architectural%20art.jpg" width=275 height=225/>

</body>